body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: #00d7ff;
    color: #000;
    overflow-x: hidden;
}

/* Header e Nav */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #008eda92;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
    position: relative;
    width: 100%;
}

.logo {
    height: 90px;
}

.btn-abrir {
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    background-color: #41c9e236;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute;
    left: 30px;
    border: 2px solid transparent;
    border-radius: 4px;
}

.btn-abrir:hover {
    border-color: #fff; 
}

nav {
    display: none;
    flex-direction: column;
    padding: 20px;
    background-color: #008eda;
    position: fixed;
    top: 0;
    height: 100%;
    width: 250px; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: width 0.3s ease;
    overflow: hidden;
}

nav a {
    margin: 10px 0;
    font-size: 18px;
    color: #000;
    text-decoration: none;
}
nav.show {
    width: 250px;
    display: flex;
    left: 0;
}
nav a:hover {
    color: rgb(173 230 255);
    background-color: rgba(1, 145, 255, 0.722);
    padding: 7px 12px;
    border-radius: 4px;
    transition: padding 0.3s ease;
}

nav a:first-child {
    font-size: 24px;
}

/* Main e Sections */
main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    transition: margin-left 0.3s ease;
}

.section {
    margin-bottom: 40px;
    background-color: #46aaff5c;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
    border-radius: 15px;
    float: left;
}

/* Imgs */
#separador2 img{
    float: none;
}
#separador2 h2{
    text-align: right;
}


.section img,
#separador1 img,
#separador3 img,
#separador4 img,
#separador5 img,
.curiosidades img {
    max-width: 100%;
    height: auto;
}

/* Ajustes específicos */
#separador1 img {
    max-width: 150px;
    display: inline-block;
    margin: 10px 20px 20px 0;
    vertical-align: middle;
}


#separador3 img{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 170px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 5px;

}
#separador4 img{
    max-width: 190px;
    display: block;
    vertical-align: middle;
}

#separador5 img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 180px;
    margin-top: 10px;
    margin-right: 15px;
}
#separador4 img{
    margin-top: -8px;
    margin-right: 15px;
    margin-left: 3px;
}

.curiosidades {
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: left;
    background-color: #46aaff5c;
}

.curiosidades p {
    font-size: 18px;
    text-align:start;
}

.curiosidades h2 {
    font-size: 24px;
    margin-top: 0;
    text-align: left;
}

.curiosidades img {
    max-width: 100%;
    height: 150px;
    display: block;
    margin: 50px 10px;
    margin-top: 62px;
    border-radius: 20px;
    float: left;
}

/* Conversor */
.conversor-sect {
    background-color: #46aaff5c;
    padding: 10px;
    margin-bottom: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.conversor {
    max-width: 400px;
    margin: 0 auto 40px;
}

.inputContainer {
    margin-bottom: 10px;
}

.inputContainer label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    text-align: left;
}

.inputContainer input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Quiz */
.quiz-sect {
    text-align: center;
    background-color: #46aaff5c;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
}

.quiz-sect h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.quiz-sect button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #0c97ed;
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}

.quiz-sect button:hover {
    border-color: #fff;
    border-width: 2px;
}
section .quiz{
    margin-bottom: auto;
}
.app{
    background-color: #46aaff5c;
    width: 90%;
    max-width: 600px;
    margin: 100px auto;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.app h1{
    font-weight: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
    text-align: center;
}

.quiz{
    padding: 20px 0;
}

.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}

.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #0073ff;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]){
    background-color: rgba(1, 145, 255, 0.722);
    color: #fff;
}

.btn:disabled{
    cursor: no-drop;
}

#nextbtn{
    background-color: rgba(1, 145, 255, 0.722);
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct{
    background: #7bedac;
}

.incorrect{
    background: #f67070;
}

/* Footer */
footer {
    padding: 10px 20px;
    text-align: center;
    color: #fff;
    background-color: #008eda;
    position: relative;
    bottom: 0;
    width: 100%;
}
/*Equipe */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    justify-content: center;
}

.membro {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #46aaff5c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)
    
}

.membro .foto img {
    max-width: 100px;
    height: auto;
    border-radius: 8px;
    margin-right: 30px;
}

.membro .informacoes ul {
    vertical-align: top;
    list-style: none;
    padding: 0;
    margin: 0;
}

.membro .informacoes ul li {
    font-size: 18px;
    margin-bottom: 5px;
}

.membro .informacoes ul li a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
}

.membro .informacoes ul li a i {
    margin-right: 5px;
}


/*Alteracoes feitas 02/06/2024*/

#paragrafo-OA{
    text-align: justify;
}

#funcoes-cotidiano-h2{
    margin-top: 5px;
}