*{
    font-family: 'lato', sans-serif;
}
body{
    padding: 0;
    margin: 0;
    background-color: #41c9e2;
}


html{
    scroll-behavior: smooth;
    
}
a{
    text-decoration: none;
    
}
a.equipe{
    text-decoration: none;
    font-size: 25px;
    position: relative;
    left: 1150px;
    color: #fff;
    width: auto;
    display: flex;
    align-items: center;
}
header{
    background-color:#008eda92;
    height: 100px;
    display: flex;
    box-shadow: 5px 5px 5px #008dda;

}

.logo{
    height: 120px;
    padding-top: 7px;
    position: relative;
    left: 550px;
    bottom: 15px;
}

.btn-abrir{
    margin: 10px;
    color:#fff;
    font-size: 25px;
    display: flex;
    align-items: center;

}
/*div intro*/
div#intro{
    background-color: #41c9e2;
    display: flex;
    align-items: center;
    margin-bottom: 300px;
}
div#intro h1{
    position: relative;
    top: 150px;

}
div#intro p{
    position: relative;
    top: 150px;
}


/*fim div intro*/

/*div historia*/
#separador1 img{
    height: 150px;
    
}
#separador1 {
    display: flex;
    flex-wrap: nowrap;
    
}
#separador1 h2{
    position: relative;
    left: 35px;
    top: 15px;
}
#separador1 p{
    position: relative;
    right: 65px; 
}
/*fim div história*/
div.flex h2{
    display: flex;
    margin: 10px;
    align-items: flex-start;
    justify-content: flex-start;
}
div.flex p{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}


/*div funcionamento*/
#separador2 img{
    position: relative;
    left: 310px;
}
#separador2 h2{
    justify-content: center;
}
#separador2 p{
    margin: 10px;
}
/*fim div funcionamento*/

/*div operaçoes*/
#separador3{
    display: flex;
    justify-content: center;
    padding: 15px;
    align-items: center;
    
}
#separador3 img{
    height: 190px;
    width: 285px;
    align-items: center;
}
#separador3 h2{
   margin: 0px 40px;
}

/*fim de div operaçoes*/

/*div flex(conjunto de divs na pagina)*/
div.flex img{
    border-radius: 25px;
}
div.flex{
    justify-content: center;
    background-color: #8acfcef2;
    margin: 20px;
    border-radius: 25px;
    padding: 10px;
    
}
/*fim de div flex(conjunto de divs na pagina)*/
/*div separador 4*/
#separador4{
    display: flex;
    align-items: center;
}
#separador4 img{
    height: 200px;
    margin: 3px;
}
#separador4 h2{
    position: relative;
    bottom: 60px;
    left: 14px;
}
#separador4 p{
    position: relative;
    right: 157px;
}
/*fim div separador 4*/

/*div separador 5*/
#separador5{
    display: flex;
    align-items: center;
}
#separador5 img{
    height: 200px;
    margin: 3px;
}
#separador5 h2{
    position: relative;
    bottom: 60px;
    left: 14px;
}
#separador5 p{
    position: relative;
    right: 105px;
    top:35px;
}
/*fim do div separador 5*/

/*section curiosidades*/
section.final-pag{
    display: flex;
}
div.imagem-curiosidade img{
    height: 130px;
}
.curiosidades{
    margin: 25px;
    display: block;


}
/*fim da section curiosidades*/

/*formulario*/
.mb-3{
    padding: 10px;
    display: inline-block;
}
textarea{
    position: relative;
    top:70px;
    right: 100px;
}
.form-label{
    position: relative;
    left: 145px;
    top: 30px;
}
input{
    position: relative;
    left: 158px;
    top: 30px;
}
.form-label2{
    position: relative;
    right: 110px;
    top: 17px;
}
/*fim de formulario*/

/*Botões contato*/
.contato{
    position: relative;
    top: 200px;
    right: 250px;
    height: 50px;
    
}
.contato button{
    height: 36px;
    width: 100px;
    color: white;
    background-color: rgb(47, 115, 241);
    border: none;
    border-radius: 18px;
    cursor: pointer;
}
i{
    position: relative;
    top: 35px;
    right: 60px;
}
/*fim Botão contao*/

/*Equipe*/

      .membro {
        width: 100%; /* Utiliza toda a largura disponível */
        box-sizing: border-box; /* Garante que a largura inclua a borda e o preenchimento */
        padding: 10px; /* Espaçamento interno para melhor visualização */
        overflow: auto; /* Evita problemas de layout com floats */
      }

      .foto {
        /* Apenas para visualização */
        float: left; /* Coloca a div "foto" à esquerda */
        width: 100px; /* Define a largura da div "foto" */
        height: 100px; /* Define a altura da div "foto" */
        margin-right: 10px; /* Espaçamento à direita para separar a "foto" da "informacao" */
      }

      .informacoes {
        background-color: lightblue; /* Apenas para visualização */
        overflow: hidden; /* Limpa a float da div "foto" */
        margin: 25px 100px;
        
      }
      .foto img {
        max-width: 100%; /* Faz a imagem se ajustar à largura da div "foto" */
        max-height: 100%;
        height: auto; /* Mantém a proporção original da imagem */
      }
      div.informacoes{
        border-radius: 25px;
        display: flex;
        align-items: center;
        list-style-type: none;
        
      }
      div.informacoes a{
        color: #000;
        padding-left: 65px;
        position: relative;
        bottom: 25px;
      }
      div.foto{
        display: flex;
        justify-content: center;
      }
      div.informacoes ul{
        width: 300px;
        list-style-type: none;
        
        
      }
      div.membro{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      div.foto img{
        border-radius: 25px;
        display: flex;
      }
/*Fim equipe*/
nav {
    height: 100%;
    width: 0px;
    background-color:rgb(119, 179, 205);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    transition: width 0.3s;
    text-wrap: nowrap;
    box-shadow: 9px 5px 3px lightblue;
    
}

nav a{
    color: black;
    font-size: 20px;
    display: block;
    padding: 12px 10px 12px 32px;

}

nav a:hover {
  color: rgb(112, 212, 255);
  background-color: rgb(30, 61, 83);
}

main{
    padding: 10px;
    background-color: #41c9e2;
}

footer{
    color: #008dda;
    height: 300px;
    background-color: #f7eedd;
    display: flex;
    justify-content: center;
}

div.informacoes {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}